{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<style>
    .modal-dialog-fullscreen {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    .modal-content-fullscreen {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
</style>

<h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="card-body">
        <button class="btn btn-primary" data-toggle="modal" data-target="#mdlCrearEditar">Crear</button>
        <div class="table-responsive">
            <table id="tblDatos" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Nombre completo</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in entidades %}
                    <tr>
                        <td>{{ e.documento }}</td>
                        <td>{{ e.nombres + ' ' + e.apellidos }}</td>
                        <td>{{ e.telefono }}</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.direccion }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlCrearEditar" tabindex="-1" aria-labelledby="mdlCrearEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlCrearEditarLabel">{{ titulo }} - Crear</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frmCrearEditar">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="documento">Documento</label>
                        <input type="text" class="form-control" id="documento" name="documento"
                            placeholder="Ingresa el número de documento">
                    </div>
                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input type="text" class="form-control" id="nombres" name="nombres"
                            placeholder="Ingresa los nombres">
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos"
                            placeholder="Ingresa los apellidos">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono"
                            placeholder="Ingresa el teléfono">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa el email">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion"
                            placeholder="Ingresa la dirección">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlVehiculos" tabindex="-1" aria-labelledby="mdlVehiculosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlVehiculosLabel">Vehículos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary" id="btnModuloCrear" data-toggle="modal"
                    data-target="#mdlVehiculoCrearEditar" style="margin-bottom: 7px;">Crear</button>
                <table id="tblDatosVehiculos" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Placa</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Tipo</th>
                            <th>Disponible</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlVehiculoCrearEditar" tabindex="-1" role="dialog"
    aria-labelledby="mdlVehiculoCrearEditarLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="frmVehiculoCrearEditar">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdlVehiculoCrearEditarLabel">Crear nuevo vehículo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="vehiculoId" name="vehiculoId">
                    <div class="form-group">
                        <label for="vehiculoPlaca">Placa</label>
                        <input type="text" class="form-control" id="vehiculoPlaca" name="vehiculoPlaca" required>
                    </div>
                    <div class="form-group">
                        <label for="vehiculoMarca">Marca</label>
                        <input type="text" class="form-control" id="vehiculoMarca" name="vehiculoMarca" required>
                    </div>
                    <div class="form-group">
                        <label for="vehiculoModelo">Modelo</label>
                        <input type="text" class="form-control" id="vehiculoModelo" name="vehiculoModelo" required>
                    </div>
                    <div class="form-group">
                        <label for="vehiculoTipoId">Tipo</label>
                        <select class="form-control" id="vehiculoTipoId" name="vehiculoTipoId" required>
                            {% for e in vehiculos_tipos %}
                            <option value="{{ e.id }}">{{ e.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="mdlArrendamientos" tabindex="-1" aria-labelledby="mdlArrendamientosLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-fullscreen">
        <div class="modal-content modal-content-fullscreen">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlArrendamientosLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary" id="btnModuloCrear" data-toggle="modal"
                    data-target="#mdlArrendamientosCrearEditar" style="margin-bottom: 7px;">Crear</button>
                <table id="tblDatosArrendamientos" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Periodicidad</th>
                            <th>Tarifa</th>
                            <th>Medio pago</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlArrendamientosCrearEditar" tabindex="-1" role="dialog"
    aria-labelledby="mdlArrendamientosCrearEditaroLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="frmMmdlArrendamientosCrearEditar">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdlArrendamientosCrearEditarLabel">Crear arrendamiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="arrendamientoId" name="arrendamientoId">
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="periodicidadId">Periodicidad</label>
                        <select class="form-control" id="periodicidadId" name="periodicidadId" required>
                            <option value="">Seleccione...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tarifaId">Tipo de tarifa</label>
                        <select class="form-control" id="tarifaId" name="tarifaId" required>
                            <option value="">Seleccione...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="medioPagoId">Medio de pago</label>
                        <select class="form-control" id="medioPagoId" name="medioPagoId" required>
                            <option value="">Seleccione...</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        const dataTable = $('#tblDatos').DataTable({
            "paging": true,
            "searching": true,
            "columnDefs": [
                {
                    "targets": 5,
                    "data": null,
                    "defaultContent": `<button class='btn btn-warning edit' title='Editar'><i class='fas fa-edit'></i></button> <button class='btn btn-danger delete' title='Eliminar'><i class='fas fa-trash'></i></button> <button class='btn btn-primary vehiculos' title='Vehículos'><i class='fas fa-car'></i></button> <button class='btn btn-dark puntos' title='Puntos'><i class='fas fa-coins'></i></button>`
                }
            ],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
            }
        });

        $('#dt-length-0').addClass('custom-select custom-select-sm form-control form-control-sm');

        $('#tblDatos tbody').on('click', 'button.edit', function () {
            const data = $('#tblDatos').DataTable().row($(this).parents('tr')).data();

            $('#mdlCrearEditarLabel').text('Cliente - Editar');
            $('#id').val(data[0]);
            $('#documento').val(data[0]);
            $('#nombres').val(data[1].split(' ')[0]);
            $('#apellidos').val(data[1].split(' ')[1]);
            $('#telefono').val(data[2]);
            $('#email').val(data[3]);
            $('#direccion').val(data[4]);

            $('#documento').prop('disabled', true);

            $('#mdlCrearEditar button[type="submit"]').text('Editar');
            $('#mdlCrearEditar button[type="submit"]').removeClass('btn-success').addClass('btn-warning');

            $('#mdlCrearEditar').modal('show');
        });

        $('#tblDatos tbody').on('click', 'button.delete', function () {
            Swal.fire({
                title: "¿Está seguro de querer eliminar este registro?",
                text: "Esta operación una vez confirmada es irreversible.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí",
                cancelButtonText: "No"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.LoadingOverlay('show');

                    var data = $('#tblDatos').DataTable().row($(this).parents('tr')).data();

                    $.ajax({
                        url: '/cliente/' + data[0],
                        type: 'DELETE',
                        dataType: 'json',
                        success: (response) => {
                            $.LoadingOverlay('hide');

                            if (response.status == 'success') {
                                Swal.fire({
                                    title: "Registro eliminado",
                                    text: "El registro fue eliminado de forma satisfactoria",
                                    icon: "success"
                                }).then((result) => {
                                    var row = $(this).closest('tr');
                                    dataTable.row(row).remove().draw();
                                });
                            } else {
                                Swal.fire({
                                    title: "Error",
                                    text: "Ocurrió un error al intentar eliminar el registro",
                                    icon: "error"
                                });
                            }
                        },
                        error: (error) => {
                            $.LoadingOverlay('hide');

                            Swal.fire({
                                title: "Error",
                                text: "Ocurrió un error al intentar eliminar el registro",
                                icon: "error"
                            });
                        }
                    });
                }
            });
        });

        $('#frmCrearEditar').submit(function (e) {
            e.preventDefault();

            $.LoadingOverlay('show');

            const formData = new FormData(this);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            data['parqueadero_id'] = 1

            let url = '/cliente';
            let method = 'POST';
            if ($('#mdlCrearEditarLabel').text().includes('Editar')) {
                url += '/' + $('#id').val();
                method = 'PUT';

                $('#documento').prop('disabled', false);
                data['documento'] = $('#documento').val();
                $('#documento').prop('disabled', true);
            }

            $.ajax({
                url: url,
                type: method,
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: (response) => {
                    $.LoadingOverlay('hide');

                    if (response.status == 'success') {
                        const operacion = method == 'POST' ? 'guardado' : 'editado';

                        Swal.fire({
                            title: "Registro guardado",
                            text: `El registro fue ${operacion} de forma satisfactoria.`,
                            icon: "success"
                        }).then((result) => {
                            $('#mdlCrearEditar').modal('hide');
                            $('#nombre').val('');
                            if (method == 'PUT') {
                                dataTable.row($('#tblDatos tbody tr').find('td').filter(function () {
                                    return $(this).text() == $('#id').val();
                                }).closest('tr')).remove().draw();
                            }

                            dataTable.row.add([response.data.documento, response.data.nombres + ' ' + response.data.apellidos, response.data.telefono, response.data.email, response.data.direccion]).draw();
                        });
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar guardar el registro.",
                            icon: "error"
                        });
                    }
                },
                error: (error) => {
                    $.LoadingOverlay('hide');

                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error al intentar guardar el registro.",
                        icon: "error"
                    });
                }
            });
        });

        $('#mdlCrearEditar').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();

            $('#mdlCrearEditarLabel').text('Cliente - Crear');
            $('#mdlCrearEditar button[type="submit"]').text('Crear');
            $('#mdlCrearEditar button[type="submit"]').removeClass('btn-warning').addClass('btn-success');

            $('#documento').prop('disabled', false);
        });

        let vehiculos = null;

        $('#tblDatos tbody').on('click', 'button.vehiculos', function () {
            const data = $('#tblDatos').DataTable().row($(this).parents('tr')).data();

            const documento = data[0];
            const nombreCompleto = data[1];

            $('#mdlVehiculosLabel').text(`Vehículos - ${nombreCompleto} (${documento})`);

            $.LoadingOverlay('show');

            $.ajax({
                url: `/cliente/${documento}/vehiculos`,
                type: 'GET',
                dataType: 'json',
                success: (response) => {
                    $.LoadingOverlay('hide');
                    if (response.status == 'success') {
                        $('#mdlVehiculos').modal('show');

                        if (vehiculos) {
                            vehiculos.destroy();
                        }

                        vehiculos = $('#tblDatosVehiculos').DataTable({
                            data: response['data'],
                            columns: [
                                { data: 'id' },
                                { data: 'placa' },
                                { data: 'marca' },
                                { data: 'modelo' },
                                { data: 'tipo' },
                                { data: 'disponible' },
                                {
                                    data: 'disponible',
                                    render: function (data, type, row) {
                                        return `<button class='btn btn-warning edit' title='Editar'><i class='fas fa-edit'></i></button> <button class='btn btn-${row.disponible ? 'success' : 'secondary'} cambiar-disponibilidad' title='${row.disponible ? 'Desactivar' : 'Activar'}'><i class='fas fa-${row.disponible ? 'eye' : 'eye-slash'}'></i></button> <button class='btn btn-info arrendamientos' title='Arrendamientos'><i class="fas fa-hand-holding-usd"></i></button>`;
                                    }
                                }
                            ],
                            language: {
                                "decimal": "",
                                "emptyTable": "No hay información",
                                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                "infoPostFix": "",
                                "thousands": ",",
                                "lengthMenu": "Mostrar _MENU_ Entradas",
                                "loadingRecords": "Cargando...",
                                "processing": "Procesando...",
                                "search": "Buscar:",
                                "zeroRecords": "Sin resultados encontrados",
                            },
                            "columnDefs": [
                                {
                                    "targets": [0, 5],
                                    "visible": false,
                                    "searchable": false
                                }
                            ]
                        });

                        $('[id^="dt-length-"]').addClass('custom-select custom-select-sm form-control form-control-sm');

                        $('#mdlVehiculoCrearEditar').attr('data-cliente-documento', documento);

                        $('#mdlVehiculoCrearEditarLabel').text('Crear nuevo vehículo');
                        $('#mdlVehiculoCrearEditar button[type="submit"]').text('Guardar');
                        $('#mdlVehiculoCrearEditar button[type="submit"]').removeClass('btn-warning').addClass('btn-primary');
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar obtener los vehículos del cliente.",
                            icon: "error"
                        });
                    }
                },
                error: (error) => {
                    $.LoadingOverlay('hide');

                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error al intentar obtener los vehículos del cliente.",
                        icon: "error"
                    });
                }
            });
        });

        $('#frmVehiculoCrearEditar').submit(function (e) {
            e.preventDefault();

            $.LoadingOverlay('show');

            const formData = new FormData(this);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            const clienteDocumento = $('#mdlVehiculoCrearEditar').attr('data-cliente-documento');
            data['clienteDocumento'] = clienteDocumento

            let url = '/cliente/crear-vehiculo';
            let method = 'POST';
            if ($('#mdlVehiculoCrearEditarLabel').text().includes('Editar')) {
                url = '/cliente/editar-vehiculo/' + $('#vehiculoId').val();
                method = 'PUT';
            }

            $.ajax({
                url: url,
                type: method,
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: (response) => {
                    $.LoadingOverlay('hide');

                    if (response.status == 'success') {
                        const operacion = method == 'POST' ? 'guardado' : 'editado';

                        Swal.fire({
                            title: "Registro guardado",
                            text: `El registro fue ${operacion} de forma satisfactoria.`,
                            icon: "success"
                        }).then((result) => {
                            $('#mdlVehiculoCrearEditar').modal('hide');
                            $('#vehiculoPlaca').val('');
                            $('#vehiculoMarca').val('');
                            $('#vehiculoModelo').val('');
                            $('#vehiculoTipo').val('');

                            if (method == 'PUT') {
                                var vehiculoId = $('#vehiculoId').val();
                                $('#tblDatosVehiculos').DataTable().rows().every(function () {
                                    var data = this.data();
                                    if (data['id'] == vehiculoId) { // Suponiendo que el ID está en la primera columna (índice 0)
                                        this.remove().draw();
                                    }
                                });
                            }

                            vehiculos.row.add({
                                id: response.data.id,
                                placa: response.data.placa,
                                marca: response.data.marca,
                                modelo: response.data.modelo,
                                tipo: response.data.vehiculo_tipo,
                                disponible: response.data.disponible
                            }).draw();

                            $('#frmVehiculoCrearEditar').trigger('reset');
                        });
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar guardar el registro.",
                            icon: "error"
                        });
                    }
                },
                error: (error) => {
                    $.LoadingOverlay('hide');

                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error al intentar guardar el registro.",
                        icon: "error"
                    });
                }
            });
        });

        $('#tblDatosVehiculos').on('click', '.edit', function () {
            const data = $('#tblDatosVehiculos').DataTable().row($(this).parents('tr')).data();
            $('#mdlVehiculoCrearEditarLabel').text('Editar vehículo');

            $('#vehiculoId').val(data.id);
            $('#vehiculoPlaca').val(data.placa);
            $('#vehiculoMarca').val(data.marca);
            $('#vehiculoModelo').val(data.modelo);

            const tipo = data.tipo;
            $('#vehiculoTipoId option').each(function () {
                if ($(this).text() == tipo) {
                    $(this).prop('selected', true);
                }
            });

            $('#mdlVehiculoCrearEditar').modal('show');

            $('#mdlVehiculoCrearEditar button[type="submit"]').text('Editar');
            $('#mdlVehiculoCrearEditar button[type="submit"]').removeClass('btn-primary').addClass('btn-warning');
        });

        $('#mdlVehiculoCrearEditar').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();

            $('#mdlVehiculoCrearEditarLabel').text('Crear nuevo vehículo');
            $('#mdlVehiculoCrearEditar button[type="submit"]').text('Guardar');
            $('#mdlVehiculoCrearEditar button[type="submit"]').removeClass('btn-warning').addClass('btn-primary');
        });

        $('#tblDatosVehiculos').on('click', '.cambiar-disponibilidad', function () {

            $.LoadingOverlay('show');

            var data = $('#tblDatosVehiculos').DataTable().row($(this).parents('tr')).data();

            $.ajax({
                url: `/cliente/vehiculo/${data.id}/cambiar-disponibilidad`,
                type: 'DELETE',
                dataType: 'json',
                success: (response) => {
                    $.LoadingOverlay('hide');

                    if (response.status == 'success') {
                        data.disponible = !data.disponible;

                        if (data.disponible) {
                            $(this).removeClass('btn-secondary').addClass('btn-success');
                            $(this).attr('title', 'Desactivar');
                            $(this).find('i').removeClass('fa-eye-slash').addClass('fa-eye');
                        } else {
                            $(this).removeClass('btn-success').addClass('btn-secondary');
                            $(this).attr('title', 'Activar');
                            $(this).find('i').removeClass('fa-eye').addClass('fa-eye-slash');
                        }

                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.onmouseenter = Swal.stopTimer;
                                toast.onmouseleave = Swal.resumeTimer;
                            }
                        });
                        Toast.fire({
                            icon: "success",
                            title: `Se ha ${data.disponible ? 'activado' : 'desactivado'} el vehículo.`
                        });
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar eliminar el registro",
                            icon: "error"
                        });
                    }
                },
                error: (error) => {
                    $.LoadingOverlay('hide');

                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error al intentar eliminar el registro",
                        icon: "error"
                    });
                }
            });
        });

        let primeraVezVistaModalArrendamientos = true;

        $('#tblDatosVehiculos').on('click', '.arrendamientos', function () {
            const data = $('#tblDatosVehiculos').DataTable().row($(this).parents('tr')).data();

            const vehiculoId = data.id;
            const placa = data.placa;

            if (primeraVezVistaModalArrendamientos) {
                cargarDatosModalArrendamientos();

                primeraVezVistaModalArrendamientos = false;
            }

            $('#mdlArrendamientosLabel').text(`Vehículo ${placa}: Arrrendamientos`);

            $('#mdlArrendamientos').attr('data-vehiculo-id', vehiculoId);

            $('#mdlArrendamientos').modal('show');

            $.LoadingOverlay('show');

            $.ajax({
                url: `/cliente/vehiculo/${vehiculoId}/arrendamientos`,
                type: 'GET',
                dataType: 'json',
                success: (response) => {
                    $.LoadingOverlay('hide');
                    if (response.status == 'success') {
                        $('#placaVehiculo').text(data.placa);

                        if ($.fn.DataTable.isDataTable('#tblDatosArrendamientos')) {
                            $('#tblDatosArrendamientos').DataTable().destroy();
                        }

                        $('#tblDatosArrendamientos').DataTable({
                            data: response['data'],
                            columns: [
                                { data: 'id' },
                                { data: 'periodicidad' },
                                { data: 'tarifa' },
                                { data: 'medioPago' },
                                { data: 'periodicidadId' },
                                { data: 'tarifaId' },
                                { data: 'medioPagoId' },
                                { data: 'descripcion' },
                                {
                                    data: null,
                                    render: function (data, type, row) {
                                        return `<button class='btn btn-warning edit' title='Editar'><i class='fas fa-edit'></i></button> <button class='btn btn-danger delete' title='Eliminar'><i class='fas fa-trash'></i></button>`;
                                    }
                                },
                            ],
                            columnDefs: [
                                {
                                    targets: [4, 5, 6, 7],
                                    visible: false,
                                    searchable: false
                                }
                            ],
                        });

                        $.LoadingOverlay('hide');
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar obtener los arrendamientos del vehículo.",
                            icon: "error"
                        });

                        $.LoadingOverlay('hide');
                    }
                },
                error: (error) => {
                    $.LoadingOverlay('hide');

                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error al intentar obtener los arrendamientos del vehículo.",
                        icon: "error"
                    });
                }
            });
        });

        $('#mdlArrendamientosCrearEditar').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();

            $('#mdlArrendamientosCrearEditarLabel').text('Crear nuevo arrendamiento');
            $('#mdlArrendamientosCrearEditar button[type="submit"]').text('Guardar');
            $('#mdlArrendamientosCrearEditar button[type="submit"]').removeClass('btn-warning').addClass('btn-success');
        });

        $('#tblDatosArrendamientos').on('click', '.edit', function () {
            const data = $('#tblDatosArrendamientos').DataTable().row($(this).parents('tr')).data();
            $('#mdlArrendamientosCrearEditarLabel').text('Editar arrendamiento');

            $('#arrendamientoId').val(data.id);
            $('#periodicidadId').val(data.periodicidadId);
            $('#tarifaId').val(data.tarifaId);
            $('#medioPagoId').val(data.medioPagoId);
            $('#descripcion').val(data.descripcion);

            $('#mdlArrendamientosCrearEditar button[type="submit"]').text('Editar');
            $('#mdlArrendamientosCrearEditar button[type="submit"]').removeClass('btn-success').addClass('btn-warning');

            $('#mdlArrendamientosCrearEditar').modal('show');
        });

        $('#frmMmdlArrendamientosCrearEditar').submit(function (e) {
            e.preventDefault();

            $.LoadingOverlay('show');

            const formData = new FormData(this);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            const vehiculoId = $('#mdlArrendamientos').attr('data-vehiculo-id');
            data['vehiculoId'] = vehiculoId;

            let url = '/cliente/vehiculo/arrendamiento';
            let method = 'POST';
            if ($('#mdlArrendamientosCrearEditarLabel').text().includes('Editar')) {
                url = `/cliente/vehiculo/arrendamiento/${$('#arrendamientoId').val()}`;
                method = 'PUT';
            }

            $.ajax({
                url: url,
                type: method,
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: (response) => {
                    $.LoadingOverlay('hide');

                    if (response.status == 'success') {
                        const operacion = 'guardado';

                        Swal.fire({
                            title: "Registro guardado",
                            text: `El registro fue ${operacion} de forma satisfactoria.`,
                            icon: "success"
                        }).then((result) => {
                            $('#mdlArrendamientosCrearEditar').modal('hide');

                            if (method == 'PUT') {
                                const arrendamientoId = $('#arrendamientoId').val();
                                $('#tblDatosArrendamientos').DataTable().rows().every(function () {
                                    const data = this.data();
                                    if (data['id'] == arrendamientoId) {
                                        this.remove().draw();
                                    }
                                });
                            }

                            $('#tblDatosArrendamientos').DataTable().row.add({
                                id: response.data.id,
                                periodicidad: response.data.periodicidad,
                                tarifa: response.data.tarifa,
                                medioPago: response.data.medioPago,
                                periodicidadId: response.data.periodicidadId,
                                tarifaId: response.data.tarifaId,
                                medioPagoId: response.data.medioPagoId,
                                descripcion: response.data.descripcion
                            }).draw();

                            $('#frmMmdlArrendamientosCrearEditar').trigger('reset');
                        });
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar guardar el registro.",
                            icon: "error"
                        });
                    }
                },
                error: (error) => {
                    $.LoadingOverlay('hide');

                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error al intentar guardar el registro.",
                        icon: "error"
                    });
                }
            });
        });

        $('#tblDatos tbody').on('click', 'button.puntos', function () {
            $.LoadingOverlay('show');

            const data = $('#tblDatos').DataTable().row($(this).parents('tr')).data();

            const documento = data[0];
            const nombreCompleto = data[1];

            $.ajax({
                url: `/cliente/${documento}/puntos`,
                type: 'GET',
                dataType: 'json',
                success: (response) => {
                    $.LoadingOverlay('hide');

                    if (response.status == 'success') {

                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar obtener los puntos del cliente.",
                            icon: "error"
                        });
                    }
                },
                error: (error) => {
                    $.LoadingOverlay('hide');

                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error al intentar obtener los puntos del cliente.",
                        icon: "error"
                    });
                }
            });
        });
    });

    function cargarDatosModalArrendamientos() {
        $.ajax({
            url: '/tarifas',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response.status === 'success') {
                    const tarifas = response.data;

                    const cbxTarifas = $('#tarifaId');
                    cbxTarifas.empty();

                    tarifas.forEach(e => {
                        cbxTarifas.append(`<option value="${e.id}">${e.nombre} - $${e.costo}</option>`);
                    });
                } else {
                    $('#tarifas').prop('disabled', true);
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "warning",
                        title: 'No hay tarifas disponibles. Debe crear al menos una tarifa para poder continuar.'
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error en la solicitud AJAX: ', textStatus, ', ', errorThrown);
            }
        });

        $.ajax({
            url: '/periodicidades',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response.status === 'success') {
                    var periodicidades = response.data;

                    var cbxPeriodicidades = $('#periodicidadId');
                    cbxPeriodicidades.empty();

                    periodicidades.forEach(e => {
                        cbxPeriodicidades.append(`<option value="${e.id}">${e.nombre} - Días: ${e.dias}</option>`);
                    });
                } else {
                    $('#tarifas').prop('disabled', true);
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "warning",
                        title: 'No hay periodicidades disponibles. Debe crear al menos una periodicidad para poder continuar.'
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                Swal.fire({
                    title: 'Error',
                    text: 'Ocurrió un error al intentar obtener las periodicidades.',
                    icon: 'warning'
                });
            }
        });

        $.ajax({
            url: '/medios-pago',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if (response.status === 'success') {
                    const mediosPago = response.data;

                    const cbxMediosPago = $('#medioPagoId');
                    cbxMediosPago.empty();

                    mediosPago.forEach(e => {
                        cbxMediosPago.append(`<option value="${e.id}">${e.nombre}</option>`);
                    });
                } else {
                    $('#tarifas').prop('disabled', true);
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    Toast.fire({
                        icon: "warning",
                        title: 'No hay medios de pago disponibles. Debe crear al menos un medio de pago para poder continuar.'
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Aquí puedes agregar el código para manejar el error de la solicitud AJAX
                console.error('Error en la solicitud AJAX: ', textStatus, ', ', errorThrown);
            }
        });
    }

</script>
{% endblock %}