<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gestor Parqueadero - {{ titulo }}</title>

    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/datatables205/datatables.min.css') }}" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <!-- <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script> -->
    <script src="{{ url_for('static', filename='vendor/datatables205/datatables.min.js') }}"></script>

    <link href="{{ url_for('static', filename='vendor/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='vendor/sweetalert2/sweetalert2.all.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendor/jquery-loading-overlay/loadingoverlay.min.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

    <style>
        .error {
            color: red;
            font-size: 18px;
            margin-top: 10px;
            width: 100%;
        }

        .bg-login-image {
            background-image: url("{{ url_for('static', filename='images/login.png') }}");
            background-position: center;
            background-size: cover;
        }
    </style>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Inicio de sesión</h1>
                                    </div>
                                    <form class="user" id="frmInicioSesion">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="email" aria-describedby="emailHelp"
                                                placeholder="Ingrese el correo" name="email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="password" placeholder="Contraseña">
                                        </div>
                                        <div class="form-group">
                                            <!-- <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div> -->
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Recuperar contraseña</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{ url_for('registro') }}">Crear cuenta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script>
        $(document).ready(() => {
            $('#frmInicioSesion').validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                },
                messages: {
                    email: {
                        required: 'El correo es obligatorio',
                        email: 'El correo no es válido'
                    },
                    password: {
                        required: 'La contraseña es obligatoria'
                    }
                },
                submitHandler: function (form) {
                    $.LoadingOverlay("show");

                    const usuario = {
                        email: $('#email').val(),
                        password: $('#password').val()
                    }

                    $.ajax({
                        url: `{{ url_for('login_post') }}`,
                        type: 'POST',
                        data: JSON.stringify(usuario),
                        success: function (response) {
                            $.LoadingOverlay("hide");
                        },
                        error: function (error) {
                            $.LoadingOverlay("hide");
                            Swal.fire({
                                title: 'Error',
                                text: 'Ocurrió un error al intentar iniciar sesión',
                                icon: 'error',
                                confirmButtonText: 'Aceptar'
                            });
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>