{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<style>
    .modal-dialog-fullscreen {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    .modal-content-fullscreen {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .parking-spot {
        width: 100px;
        height: 100px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #28a745;
        /* Available spots are green */
        color: white;
        font-size: 1.5em;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .parking-spot.occupied {
        background-color: #dc3545;
        /* Occupied spots are red */
    }

    .parking-spot.selected {
        background-color: #ffc107;
        /* Selected spots are yellow */
    }
</style>

<h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="card-body">
        <button class="btn btn-success" data-toggle="modal" data-target="#mdlSelecionarSede">Seleccionar
            sede</button><br><br>
        <button id="btnIngresarVehiculo" class="btn btn-primary" data-toggle="modal" data-target="#mdlIngresoVehiculo"
            disabled>Ingresar
            vehículo</button><br>
    </div>
</div>

<div class="card shadow mb-4" id="parqueosActivos">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Parqueos activos</h6>
    </div>
    <div class="card-body">
        <h2>Parqueos Activos</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Placa del vehículo</th>
                    <th>Fecha de entrada</th>
                    <th>Nombre del módulo</th>
                    <th>Tiempo parqueado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="parqueos-table">

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="mdlSelecionarSede" tabindex="-1" role="dialog" aria-labelledby="mdlSelecionarSedeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlSelecionarSedeLabel">Seleccionar Sede</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sedeId">Sede</label>
                    <select class="form-control" id="sedeId">
                        {% for e in sedes %}
                        <option value="{{ e.id }}">{{ e.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="btnSeleccionarSede" {{ 'disabled' if not sedes else ''
                    }}>Seleccionar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlIngresoVehiculo" tabindex="-1" role="dialog" aria-labelledby="mdlIngresoVehiculoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-fullscreen" role="document">
        <div class="modal-content modal-content-fullscreen">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlIngresoVehiculoLabel">Ingreso de Vehículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="placa" placeholder="Ingrese la placa">
                </div>
                <button type="button" class="btn btn-primary" id="btnBuscarVehiculoPorPlaca">Buscar</button>
                <br>
                <div class="row">
                    <div class="col-md-12 d-flex flex-wrap justify-content-center" id="modulos"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" disabled id="btnIngresar">Ingresar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlSeleccionTipoVehiculo" tabindex="-1" role="dialog"
    aria-labelledby="mdlSeleccionTipoVehiculoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlSeleccionTipoVehiculoLabel">Tipo de vehículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select class="form-control" id="tipoVehiculo">
                        <option value="1">Automóvil</option>
                        <option value="2">Motocicleta</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" disabled id="btnIngresar">Ingresar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnSeleccionarSede').click(function () {
            var sedeId = $('#sedeId').val();

            localStorage.setItem('sedeId', sedeId);

            $('#btnIngresarVehiculo').removeAttr('disabled');

            $('#mdlSelecionarSede').modal('hide');

            $.ajax({
                url: `/sede/${sedeId}/parqueos-activos`,
                type: 'GET',
                success: function (response) {
                    const parqueos = response.data;

                    mostrarTablaParqueos(parqueos);
                    inicializarTemporizadores(parqueos);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#btnBuscarVehiculoPorPlaca').click(function () {
            $.LoadingOverlay('show');

            var placa = $('#placa').val().trim();

            if (!placa) {
                $.LoadingOverlay('hide');
                return;
            }

            $('#btnIngresar').removeAttr('disabled');

            $.ajax({
                url: `/vehiculo/buscar/${placa}`,
                type: 'GET',
                success: function (response) {
                    $.LoadingOverlay('hide');

                    if (response.status == 'failure') {
                        Swal.fire({
                            title: "Advertencia",
                            text: response.message,
                            icon: "warning"
                        });

                        return;
                    }
                },
                error: function (error) {
                    $.LoadingOverlay('hide');
                    console.log(error);
                }
            });
        });

        $('#mdlIngresoVehiculo').on('show.bs.modal', function () {
            $.ajax({
                url: `/sede/${localStorage.getItem('sedeId')}/modulos`,
                type: 'GET',
                success: function (response) {
                    const modulos = response.data;

                    const container = $('#modulos');
                    container.empty();

                    modulos.forEach((modulo, index) => {
                        const $div = $('<div></div>', {
                            'data-id': modulo.id,
                            class: 'parking-spot',
                            onclick: 'seleccionarModulo(this)',
                            text: index + 1
                        });
                        container.append($div);
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#btnIngresar').click(function () {

            const tiposVehiculosOptions = {{ tipos_vehiculos | tojson }};
            const options = {};
            tiposVehiculosOptions.forEach((tipoVehiculo) => {
                options[tipoVehiculo.id] = tipoVehiculo.nombre;
            });

            Swal.fire({
                title: 'Selecciona una opción',
                input: 'select',
                inputOptions: options,
                inputPlaceholder: 'Selecciona un tipo de vehículo',
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return 'Debes seleccionar una opción'
                    }
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log('Opción seleccionada:', result.value);

                    $.LoadingOverlay('show');

                    const moduloSeleccionado = document.querySelector('.parking-spot.selected');
                    if (!moduloSeleccionado) {
                        $.LoadingOverlay('hide');

                        Swal.fire({
                            title: "Advertencia",
                            text: "Debe seleccionar un módulo de parqueo",
                            icon: "warning"
                        });

                        return;
                    }

                const vehiculoTipoId = result.value;
                const placa = $('#placa').val().trim();
                const moduloId = moduloSeleccionado.getAttribute('data-id');

                $.ajax({
                    url: `/parqueo/ingresar`,
                    type: 'POST',
                    data: JSON.stringify({
                        vehiculoTipoId,
                        placa,
                        moduloId
                    }),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (response) {
                        console.log('response', response);

                        $.LoadingOverlay('hide');

                        if (response.status == 'warning') {
                            Swal.fire({
                                title: "Advertencia",
                                text: response.message,
                                icon: "warning"
                            });

                            return;
                        }

                        Swal.fire({
                            title: "Éxito",
                            text: "El vehículo fue ingresado de forma satisfactoria",
                            icon: "success"
                        });

                        $('#mdlIngresoVehiculo').modal('hide');
                    },
                    error: function (error) {
                        $.LoadingOverlay('hide');
                        console.log(error);

                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar ingresar el vehículo",
                            icon: "warning"
                        });
                    }
                });
                    }
                });
        });
    });

    /**
     * Selecciona un módulo de parqueo.
     * 
     * @param {HTMLElement} event Evento de click sobre un módulo en la vista.
     * 
    */
    function seleccionarModulo(event) {
        const selected = document.querySelector('.parking-spot.selected');
        if (selected) {
            selected.classList.remove('selected');
        }

        if (!event.classList.contains('occupied')) {
            event.classList.add('selected');
        }
    }

    function mostrarTablaParqueos(parqueos) {
        const tableBody = document.getElementById('parqueos-table');
        tableBody.innerHTML = '';

        parqueos.forEach((parqueo, index) => {
            const fechaEntrada = moment(parqueo.fechaHoraEntrada);
            const row = `
                    <tr>
                        <td>${parqueo.vehiculo.placa}</td>
                        <td>${fechaEntrada.format('dddd DD MMMM, YYYY HH:mm:ss')}</td>
                        <td>${parqueo.modulo.nombre}</td>
                        <td class="timer" id="timer-${index}"></td>
                        <td>
                            <button class="btn btn-warning">Retirar</button>
                        </td>
                    </tr>
                `;
            tableBody.insertAdjacentHTML('beforeend', row);
            updateTimer(index, fechaEntrada);
        });
    }

    function updateTimer(index, fechaEntrada) {
        const now = moment();
        const duration = moment.duration(now.diff(fechaEntrada));

        const days = Math.floor(duration.asDays());
        const hours = duration.hours();
        const minutes = duration.minutes();
        const seconds = duration.seconds();

        const timeParked = `${days}D ${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;

        document.getElementById(`timer-${index}`).textContent = timeParked;
    }

    function inicializarTemporizadores(parqueos) {
        parqueos.forEach((parqueo, index) => {
            const fechaEntrada = moment(parqueo.fechaHoraEntrada);
            setInterval(() => {
                updateTimer(index, fechaEntrada);
            }, 1000);
        });
    }
</script>

{% endblock %}