{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<style>
    .modal-dialog-fullscreen {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    .modal-content-fullscreen {
        height: 100%;
        border: 0;
        border-radius: 0;
    }

    .parking-spot {
        width: 100px;
        height: 100px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #28a745;
        /* Available spots are green */
        color: white;
        font-size: 1.5em;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .parking-spot.occupied {
        background-color: #dc3545;
        /* Occupied spots are red */
    }

    .parking-spot.selected {
        background-color: #ffc107;
        /* Selected spots are yellow */
    }
</style>

<h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="card-body">
        <button class="btn btn-success" data-toggle="modal" data-target="#mdlSelecionarSede">Seleccionar
            sede</button><br><br>
        <button id="btnIngresarVehiculo" class="btn btn-primary" data-toggle="modal" data-target="#mdlIngresoVehiculo"
            disabled>Ingresar vehículo</button><br>
    </div>
</div>

<div class="card shadow mb-4" id="parqueosActivos" style="display: none;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" id="sedeNombre"></h6>
    </div>
    <div class="card-body">
        <h2>Parqueos Activos</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Placa vehículo</th>
                    <th>Tipo vehículo</th>
                    <th>Fecha de entrada</th>
                    <th>Nombre del módulo</th>
                    <th>Tiempo parqueado</th>
                    <th>Tarifa</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="parqueos-table">

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="mdlSelecionarSede" tabindex="-1" role="dialog" aria-labelledby="mdlSelecionarSedeLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlSelecionarSedeLabel">Seleccionar Sede</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sedeId">Sede</label>
                    <select class="form-control" id="sedeId">
                        {% for e in sedes %}
                        <option value="{{ e.id }}">{{ e.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="btnSeleccionarSede" {{ 'disabled' if not sedes else ''
                    }}>Seleccionar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlIngresoVehiculo" tabindex="-1" role="dialog" aria-labelledby="mdlIngresoVehiculoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-fullscreen" role="document">
        <div class="modal-content modal-content-fullscreen">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlIngresoVehiculoLabel">Ingreso de Vehículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="placa" placeholder="Ingrese la placa"
                        style="height: 200px; font-size: 120px;">
                </div>
                <button type="button" class="btn btn-primary btn-lg" id="btnBuscarVehiculoPorPlaca">Buscar</button>
                <br>
                <div class="row">
                    <div class="col-md-12 d-flex flex-wrap justify-content-center" id="modulos"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success btn-lg" disabled id="btnIngresar">Ingresar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlSeleccionTipoVehiculo" tabindex="-1" role="dialog"
    aria-labelledby="mdlSeleccionTipoVehiculoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-fullscreen" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlSeleccionTipoVehiculoLabel">Tipo de vehículo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select class="form-control" id="tipoVehiculo">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" disabled id="btnIngresar">Ingresar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="mdlCrearEditarCliente" tabindex="-1" aria-labelledby="mdlCrearEditarClienteLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlCrearEditarClienteLabel">{{ titulo }} - Crear</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frmCrearEditarCliente">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="documento">Documento</label>
                        <input type="text" class="form-control" id="documento" name="documento"
                            placeholder="Ingresa el número de documento">
                    </div>
                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input type="text" class="form-control" id="nombres" name="nombres"
                            placeholder="Ingresa los nombres">
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos"
                            placeholder="Ingresa los apellidos">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono"
                            placeholder="Ingresa el teléfono">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa el email">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion"
                            placeholder="Ingresa la dirección">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    #datetime-box {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #333;
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }
</style>
<div id="datetime-box"></div>

<div id="data-tipos-vehiculos" data-tipos-vehiculos='{{ tipos_vehiculos|tojson|safe }}'></div>
<div id="data-medios-pago" data-medios-pago='{{ medios_pago |tojson|safe }}'></div>
<div id="data-tarifas" data-tarifas='{{ tarifas |tojson|safe }}'></div>
<script type="text/javascript">
    let dataContainer = document.getElementById('data-tipos-vehiculos');
    window.tiposVehiculos = JSON.parse(dataContainer.dataset.tiposVehiculos);

    dataContainer = document.getElementById('data-medios-pago');
    window.mediosPago = JSON.parse(dataContainer.dataset.mediosPago);

    dataContainer = document.getElementById('data-tarifas');
    window.tarifas = JSON.parse(dataContainer.dataset.tarifas);
</script>

<script>
    $(document).ready(function () {
        setInterval(updateDateTime, 1000);
        updateDateTime();
        $('#btnSeleccionarSede').click(function () {
            const sedeNombre = $('#sedeId option:selected').text();
            const sedeId = $('#sedeId').val();

            localStorage.setItem('sedeId', sedeId);

            $('#btnIngresarVehiculo').removeAttr('disabled');

            $('#mdlSelecionarSede').modal('hide');

            $.ajax({
                url: `/sede/${sedeId}/parqueos-activos`,
                type: 'GET',
                success: function (response) {
                    const parqueos = response.data;

                    mostrarTablaParqueos(parqueos, sedeNombre);
                    inicializarTemporizadores(parqueos);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#btnBuscarVehiculoPorPlaca').click(buscarVehiculoPorPlaca);

        $('#placa').keypress(function (event) {
            if (event.which === 13) {
                buscarVehiculoPorPlaca();
            }
        });

        $('#mdlIngresoVehiculo').on('show.bs.modal', function () {
            $('#btnIngresar').attr('disabled', 'disabled');
            $('#modulos').css('pointer-events', 'none');
            $.ajax({
                url: `/sede/${localStorage.getItem('sedeId')}/modulos`,
                type: 'GET',
                success: function (response) {
                    const modulos = response.data;

                    const container = $('#modulos');
                    container.empty();

                    modulos.forEach((modulo, index) => {
                        const $div = $('<div></div>', {
                            'data-id': modulo.id,
                            class: modulo.disponible ? 'parking-spot' : 'parking-spot occupied',
                            onclick: 'seleccionarModulo(this)',
                            text: modulo.nombre
                        });
                        container.append($div);
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

        $('#mdlIngresoVehiculo').on('shown.bs.modal', function () {
            $('#placa').focus();
        });

        $('#mdlIngresoVehiculo').on('hidden.bs.modal', function () {
            $('#placa').val('');
            $('#btnIngresar').attr('disabled', 'disabled');
            localStorage.removeItem('vehiculo');

            $('#modulos').empty();
        });

        $('#btnIngresar').click(function () {
            const yaExisteVehiculo = Boolean(localStorage.getItem('vehiculo'));

            const tiposVehiculosOptions = window.tiposVehiculos;
            const opcionesTipoVehiculo = {};
            tiposVehiculosOptions.forEach((tipoVehiculo) => {
                opcionesTipoVehiculo[tipoVehiculo.id] = tipoVehiculo.nombre;
            });

            if (!yaExisteVehiculo) {
                Swal.fire({
                    title: 'Selecciona una opción',
                    input: 'select',
                    inputOptions: opcionesTipoVehiculo,
                    inputPlaceholder: 'Selecciona un tipo de vehículo',
                    showCancelButton: true,
                    inputValidator: (value) => {
                        if (!value) {
                            return 'Debes seleccionar una opción'
                        }
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        const tarifas = window.tarifas;

                        const opcionesTarifas = tarifas.reduce((acc, tarifa) => {
                            acc[tarifa.id] = tarifa.nombre;
                            return acc;
                        }, {});

                        Swal.fire({
                            title: 'Selecciona una opción',
                            input: 'select',
                            inputOptions: opcionesTarifas,
                            inputPlaceholder: 'Selecciona una tarifa',
                            showCancelButton: true,
                            inputValidator: (value) => {
                                if (!value) {
                                    return 'Debes seleccionar una opción'
                                }
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                const tarifaId = result.value;
                                finalizarIngresoVehiculo(result.value, opcionesTipoVehiculo, tarifaId);
                            }
                        });
                    }
                });
            } else {
                const vehiculo = JSON.parse(localStorage.getItem('vehiculo'));
                finalizarIngresoVehiculo(vehiculo.vehiculoTipoId, opcionesTipoVehiculo);
            }
        });
    });

    function updateDateTime() {
        const now = moment(); // Obtiene la fecha y hora actual
        const formattedDate = now.format('dddd D, MMMM YYYY; HH:mm:ss'); // Formato personalizado
        document.getElementById('datetime-box').innerText = formattedDate; // Muestra en el rectángulo
    }

    function finalizarIngresoVehiculo(vehiculoTipoId, opcionesTipoVehiculo, tarifaId = null) {
        $.LoadingOverlay('show');

        const moduloSeleccionado = document.querySelector('.parking-spot.selected');
        if (!moduloSeleccionado) {
            $.LoadingOverlay('hide');

            Swal.fire({
                title: "Advertencia",
                text: "Debe seleccionar un módulo de parqueo",
                icon: "warning"
            });

            return;
        }

        const placa = $('#placa').val().trim();
        const moduloId = moduloSeleccionado.getAttribute('data-id');
        const moduloNombre = moduloSeleccionado.textContent;
        let tipoVehiculo = opcionesTipoVehiculo[vehiculoTipoId];

        const datosVehiculo = {
            vehiculoTipoId,
            placa,
            moduloId
        };

        if (tarifaId) {
            datosVehiculo.tarifaId = tarifaId;
        }

        $.ajax({
            url: `/parqueo/ingresar`,
            type: 'POST',
            data: JSON.stringify(datosVehiculo),
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {

                $.LoadingOverlay('hide');
                let esArrendamiento = false;

                if (response.status == 'warning') {
                    Swal.fire({
                        title: "Advertencia",
                        text: response.message,
                        icon: "warning"
                    });

                    return;
                } else if (response.status == 'arrendamiento') {
                    Swal.fire({
                        title: "Mensaje",
                        text: response.message,
                        icon: "success"
                    });

                    esArrendamiento = true;
                    tipoVehiculo = response.tipoVehiculo.nombre;

                    agregarVehiculoTabla({ placa, tipoVehiculo, fechaHoraEntrada: new Date().toISOString(), modulo: moduloNombre, tipoVehiculo, esArrendamiento: esArrendamiento });

                    $('#mdlIngresoVehiculo').modal('hide');

                    return;
                } else {
                    Swal.fire({
                        title: "Éxito",
                        text: "El vehículo fue ingresado de forma satisfactoria",
                        icon: "success"
                    });
                }

                const tipoVehiculoAsignado = response.data.tipoVehiculo;
                agregarVehiculoTabla({ placa, tipoVehiculo, fechaHoraEntrada: new Date().toISOString(), modulo: moduloNombre, tipoVehiculoAsignado, esArrendamiento: esArrendamiento });

                $('#mdlIngresoVehiculo').modal('hide');

                const requestOptions = {
                    method: "GET",
                    redirect: "follow"
                };

                fetch(`/generar_ticket/${placa}`, requestOptions)
                    .then(response => response.blob())
                    .then(pdfBlob => {
                        const pdfUrl = URL.createObjectURL(pdfBlob);

                        Swal.fire({
                            title: 'Ticket PDF',
                            html: `
        <iframe src="${pdfUrl}" width="100%" height="530px" style="border:none;"></iframe>
      `,
                            showCloseButton: true,
                            showConfirmButton: false,
                            showCancelButton: false,
                            footer: `
        <button id="close-btn" class="btn btn-secondary">Cerrar</button>
        <button id="print-btn" class="btn btn-primary">Imprimir</button>
        <button id="save-btn" class="btn btn-success">Guardar</button>
      `,
                            didOpen: () => {
                                document.getElementById("close-btn").addEventListener("click", () => {
                                    Swal.close();
                                });

                                document.getElementById("print-btn").addEventListener("click", () => {
                                    const printWindow = window.open(pdfUrl);
                                    printWindow.print();
                                });

                                document.getElementById("save-btn").addEventListener("click", () => {
                                    const a = document.createElement("a");
                                    a.href = pdfUrl;
                                    a.download = "ticket.pdf";
                                    document.body.appendChild(a);
                                    a.click();
                                    document.body.removeChild(a);
                                });
                            }
                        });
                    })
                    .catch(error => {
                        Swal.fire({
                            title: "Advertencia",
                            text: "Ocurrió un error al intentar generar el ticket.",
                            icon: "warning"
                        });
                    });
            },
            error: function (error) {
                $.LoadingOverlay('hide');
                console.log(error);

                Swal.fire({
                    title: "Error",
                    text: "Ocurrió un error al intentar ingresar el vehículo.",
                    icon: "warning"
                });
            }
        });
    }

    /**
     * Busca un vehículo por su placa.
     * 
     * @param {Event} event Evento de click sobre el botón de buscar vehículo.
     */
    function agregarVehiculoTabla(parqueo) {
        const fechaEntrada = moment(parqueo.fechaHoraEntrada);
        const tableBody = document.getElementById('parqueos-table');
        const index = tableBody.children.length;
        const esArrendamiento = parqueo.esArrendamiento;
        const celdaArrendamientoONormal = esArrendamiento ? 'Arrendamiento' : `${parqueo.tipoVehiculoAsignado.tarifa.nombre} ($${parqueo.tipoVehiculoAsignado.tarifa.costo})`;
        const celdaTotal = esArrendamiento ? '<td>Cobrado</td>' : `<td id="total-${index}">1.000</td>`;
        const row = `
            <tr>
                <td>${parqueo.placa}</td>
                <td>${parqueo.tipoVehiculo}</td>
                <td>${fechaEntrada.format('dddd DD MMMM, YYYY HH:mm:ss')}</td>
                <td>${parqueo.modulo}</td>
                <td class="timer" id="timer-${index}"></td>
                <td>${celdaArrendamientoONormal}</td>
                ${celdaTotal}
                <td>
                    <button class="btn btn-warning">Retirar</button>
                </td>
            </tr>
        `;
        tableBody.insertAdjacentHTML('beforeend', row);

        setInterval(() => {
            updateTimer(index, fechaEntrada);
            if (!esArrendamiento) {
                actualizarTotal(index, parqueo.tipoVehiculoAsignado.tarifa, fechaEntrada);
            }
        }, 1000);
    }

    /**
     * Selecciona un módulo de parqueo.
     * 
     * @param {HTMLElement} event Evento de click sobre un módulo en la vista.
     * 
    */
    function seleccionarModulo(event) {
        const selected = document.querySelector('.parking-spot.selected');

        $('#btnIngresar').removeAttr('disabled');

        if (selected) {
            selected.classList.remove('selected');
        }

        if (!event.classList.contains('occupied')) {
            event.classList.add('selected');
        }
    }

    function mostrarTablaParqueos(parqueos, sedeNombre) {
        $('#parqueosActivos').show();

        $('#sedeNombre').text(`Parqueos activos sede: ${sedeNombre}`);
        const tableBody = document.getElementById('parqueos-table');
        tableBody.innerHTML = '';

        parqueos.forEach((parqueo, index) => {
            const fechaEntrada = moment(parqueo.fechaHoraEntrada);
            const esArrendamiento = parqueo.esArrendamiento;
            const celdaArrendamientoONormal = esArrendamiento ? `Arrendamiento - ${parqueo.vehiculo.tarifa.nombre}` : `${parqueo.vehiculo.tarifa.nombre} ($${formatearDinero(parqueo.vehiculo.tarifa.costo)})`;

            const total = esArrendamiento ? `$${formatearDinero(parqueo.vehiculo.tarifa.costo)}` : '1.000';

            const row = `
                    <tr>
                        <td>${parqueo.vehiculo.placa}</td>
                        <td>${parqueo.vehiculo.tipo}</td>
                        <td>${fechaEntrada.format('dddd DD MMMM, YYYY HH:mm:ss')}</td>
                        <td>${parqueo.modulo.nombre}</td>
                        <td class="timer" id="timer-${index}"></td>
                        <td>${celdaArrendamientoONormal}</td>
                        <td id="total-${index}">${total}</td>
                        <td>
                            <button class="btn btn-warning" id="btnRetirar-${index}" data-es-arrendamiento="${esArrendamiento}">Retirar</button>
                            <button class="btn btn-primary" id="btnVerVehiculo-${index}"><i class="fas fa-car"></i></button>
                            <button class="btn btn-info" id="btnVerCliente-${index}"><i class="fas fa-user-alt"></i></button>
                        </td>
                    </tr>
                `;
            tableBody.insertAdjacentHTML('beforeend', row);
            updateTimer(index, fechaEntrada);
            if (!esArrendamiento) {
                actualizarTotal(index, parqueo.vehiculo.tarifa, fechaEntrada);
            }

            $(`#btnRetirar-${index}`).click(retirarVehiculo);
            $(`#btnVerVehiculo-${index}`).click(verVehiculo);
            $(`#btnVerCliente-${index}`).click(verCliente);
        });
    }

    function verVehiculo(event) {
        let index = $(event)[0].target.parentElement.parentElement.rowIndex - 1;
        if (isNaN(index)) {
            index = $(event)[0].target.parentElement.parentElement.parentElement.rowIndex - 1;
        }
        const row = document.getElementById('parqueos-table').children[index];

        const placa = row.children[0].textContent;
        const tipoVehiculoNombre = row.children[1].textContent;

        const tiposVehiculos = window.tiposVehiculos;

        $.LoadingOverlay('show');

        $.ajax({
            url: `/vehiculo/buscar/${placa}`,
            type: 'GET',
            success: function (response) {
                $.LoadingOverlay('hide');
                const vehiculo = response.data;

                Swal.fire({
                    title: "Vehículo",
                    html: `
                        <form class="container" id="frmActualizarVehiculo">
                            <div class="row">
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Placa:</h5>
                                    <input type="text" class="form-control text-primary" name="placa" value="${vehiculo.placa}" readonly>
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Tipo:</h5>
                                    <select class="form-control" id="vehiculoTipoId" name="vehiculoTipoId"">
                                        ${tiposVehiculos.map(tipoVehiculo => `
                                            <option value="${tipoVehiculo.id}" ${tipoVehiculo.nombre === tipoVehiculoNombre ? 'selected' : ''}>
                                                ${tipoVehiculo.nombre}
                                            </option>`).join('')}
                                    </select>
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Marca:</h5>
                                    <input type="text" class="form-control text-primary" name="marca" value="${vehiculo.marca ? vehiculo.marca : ''}">
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Modelo:</h5>
                                    <input type="text" class="form-control text-primary" name="modelo" value="${vehiculo.modelo ? vehiculo.modelo : ''}">
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <button type="submit" class="btn btn-primary">Actualizar Vehículo</button>
                                </div>
                            </div>
                        </form>
                        `
                    ,
                    didOpen: () => {
                        const form = document.getElementById('frmActualizarVehiculo');
                        form.addEventListener('submit', function (event) {
                            event.preventDefault();
                            const formData = new FormData(form);
                            const data = Object.fromEntries(formData.entries());

                            $.LoadingOverlay('show');

                            $.ajax({
                                url: `/vehiculo/${placa}`,
                                type: 'PUT',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (response) {
                                    $.LoadingOverlay('hide');
                                    row.children[1].textContent = tiposVehiculos.find(tipoVehiculo => tipoVehiculo.id == data.vehiculoTipoId).nombre;
                                    Swal.fire({
                                        title: "Éxito",
                                        text: "El vehículo fue actualizado de forma satisfactoria",
                                        icon: "success"
                                    });
                                },
                                error: function (error) {
                                    $.LoadingOverlay('hide');
                                    console.log(error);
                                    Swal.fire({
                                        title: "Error",
                                        text: "Ocurrió un error al intentar actualizar el vehículo.",
                                        icon: "warning"
                                    });
                                }
                            });
                        });
                    }
                });
            },
            error: function (error) {
                $.LoadingOverlay('hide');
                console.log(error);
                Swal.fire({
                    title: "Error",
                    text: "Ocurrió un error al intentar obtener la información del vehículo.",
                    icon: "warning"
                });
            }
        });
    }

    function verCliente(event) {
        let index = $(event)[0].target.parentElement.parentElement.rowIndex - 1;
        if (isNaN(index)) {
            index = $(event)[0].target.parentElement.parentElement.parentElement.rowIndex - 1;
        }
        const row = document.getElementById('parqueos-table').children[index];

        const placa = row.children[0].textContent;

        $.LoadingOverlay('show');

        $.ajax({
            url: `/vehiculo/${placa}/cliente`,
            type: 'GET',
            success: function (response) {
                $.LoadingOverlay('hide');
                const cliente = response.data;

                Swal.fire({
                    title: "Cliente",
                    html: `
                        <form class="container" id="frmActualizarCrearCliente">
                            <div class="row">
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Documento:</h5>
                                    <input type="text" class="form-control text-primary" name="documento" value="${cliente.documento}" readonly>
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Nombres:</h5>
                                    <input type="text" class="form-control text-primary" name="nombres" value="${cliente.nombres}">
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Apellidos:</h5>
                                    <input type="text" class="form-control text-primary" name="apellidos" value="${cliente.apellidos}">
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Teléfono:</h5>
                                    <input type="text" class="form-control text-primary" name="telefono" value="${cliente.telefono}">
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Email:</h5>
                                    <input type="email" class="form-control text-primary" name="email" value="${cliente.email}">
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Dirección:</h5>
                                    <input type="text" class="form-control text-primary" name="direccion" value="${cliente.direccion}">
                                </div>
                                <div class="col-md-12 text-center mb-3">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </form>
                    `,
                    didOpen: () => {
                        const form = document.getElementById('frmActualizarCrearCliente');
                        form.addEventListener('submit', function (event) {
                            event.preventDefault();
                            const formData = new FormData(form);
                            const data = Object.fromEntries(formData.entries());

                            $.ajax({
                                url: `/cliente/${cliente.documento}`,
                                type: 'PUT',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                success: function (response) {
                                    Swal.fire({
                                        title: "Éxito",
                                        text: "El cliente fue actualizado de forma satisfactoria",
                                        icon: "success"
                                    });
                                },
                                error: function (error) {
                                    console.log(error);
                                    Swal.fire({
                                        title: "Error",
                                        text: "Ocurrió un error al intentar actualizar el cliente.",
                                        icon: "warning"
                                    });
                                }
                            });
                        });
                    }
                });
            },
            error: function (error) {
                $.LoadingOverlay('hide');
                Swal.fire({
                    title: "Cliente no encontrado",
                    text: "¿Desea crear un nuevo cliente para este vehículo?",
                    showCancelButton: false,
                    showDenyButton: true,
                    confirmButtonText: "Sí",
                    denyButtonText: `No`
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: "Crear Cliente",
                            html: `
                            <form class="container" id="frmCrearCliente">
                                <div class="row">
                                    <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Documento:</h5>
                                    <input type="text" class="form-control text-primary" name="documento">
                                    </div>
                                    <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Nombres:</h5>
                                    <input type="text" class="form-control text-primary" name="nombres">
                                    </div>
                                    <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Apellidos:</h5>
                                    <input type="text" class="form-control text-primary" name="apellidos">
                                    </div>
                                    <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Teléfono:</h5>
                                    <input type="text" class="form-control text-primary" name="telefono">
                                    </div>
                                    <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Email:</h5>
                                    <input type="email" class="form-control text-primary" name="email">
                                    </div>
                                    <div class="col-md-12 text-center mb-3">
                                    <h5 class="text-info">Dirección:</h5>
                                    <input type="text" class="form-control text-primary" name="direccion">
                                    </div>
                                </div>
                            </form>
                            `,
                            showCancelButton: true,
                            confirmButtonText: 'Guardar',
                            preConfirm: () => {
                                $.LoadingOverlay('show');
                                const form = document.getElementById('frmCrearCliente');
                                const formData = new FormData(form);
                                const data = Object.fromEntries(formData.entries());
                                data.placa = placa;

                                return $.ajax({
                                    url: `/cliente`,
                                    type: 'POST',
                                    data: JSON.stringify(data),
                                    contentType: 'application/json'
                                }).then(response => {
                                    $.LoadingOverlay('hide');
                                    if (response.status === 'existente') {
                                        Swal.showValidationMessage(response.message);
                                        return false;
                                    }

                                    Swal.fire({
                                        title: "Éxito",
                                        text: "El cliente fue creado de forma satisfactoria",
                                        icon: "success"
                                    });

                                    return true;
                                }).catch(error => {
                                    $.LoadingOverlay('hide');
                                    Swal.showValidationMessage("Ocurrió un error al intentar crear el cliente.");
                                    console.error(error);
                                    return false;
                                });
                            }
                        });

                    }
                });
            }
        });
    }

    function retirarVehiculo(event) {
        const index = event.target.parentElement.parentElement.rowIndex - 1;
        const row = document.getElementById('parqueos-table').children[index];

        const placa = row.children[0].textContent;
        const total = row.children[6].textContent;

        const totalEntero = numeral(total.replaceAll('.', ',')).value();

        const mediosPago = window.mediosPago;

        const esArrendamiento = event.target.getAttribute('data-es-arrendamiento') === 'true';
        let contenidoTotal = esArrendamiento ? `<h3 class="text-warning"><strong>Valor ya cancelado</strong></h3>` : `<h3 class="text-success"><strong>${total}</strong></h3>`;

        Swal.fire({
            title: "<strong>Retiro de Vehículo</strong>",
            icon: "info",
            html: `
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center mb-3">
                        <h5 class="text-info">Total a Pagar:</h5>
                        ${contenidoTotal}
                        </div>
                        <div class="col-md-12 text-center mb-3">
                            <h5 class="text-info">Placa del Vehículo:</h5>
                            <h3 class="text-primary"><strong>${placa}</strong></h3>
                        </div>
                        <div class="col-md-12 text-center mb-3">
                            <h5 class="text-info">Método de Pago:</h5>
                            <select class="form-control" id="metodoPago">
                                ${mediosPago.map(medioPago => `<option value="${medioPago.id}">${medioPago.nombre}</option>`)}
                            </select>
                        </div>
                    </div>
                </div>
            `,
            showCloseButton: true,
            showCancelButton: true,
            focusConfirm: false,
            confirmButtonText: `
    <i class="fa fa-check"></i> Aceptar
  `,
            confirmButtonAriaLabel: "Aceptar y retirar vehículo",
            cancelButtonText: `
    <i class="fa fa-times"></i> Cancelar
  `,
            cancelButtonAriaLabel: "Cancelar",
            preConfirm: () => {
                const metodoPagoId = document.getElementById('metodoPago').value;
                return fetch('/parqueo/vehiculo/retirar', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        placa: placa,
                        totalPagado: totalEntero,
                        metodoPagoId: metodoPagoId,
                        esArrendamiento: esArrendamiento
                    })
                })
                    .then(response => {
                        if (response.status == 'error') {
                            Swal.fire({
                                title: "Error",
                                text: response.message,
                                icon: "warning"
                            });
                        } else {
                            Swal.fire({
                                title: "Éxito",
                                text: "El vehículo fue retirado de forma satisfactoria",
                                icon: "success"
                            });

                            document.getElementById('parqueos-table').deleteRow(index);
                        }
                    })
                    .catch(error => {
                        Swal.showValidationMessage(
                            `Request failed: ${error}`
                        );
                    });
            }
        });

    }

    function updateTimer(index, fechaEntrada) {
        const temporizador = document.getElementById(`timer-${index}`);

        if (temporizador == null) {
            return;
        }
        const now = moment();
        const duration = moment.duration(now.diff(fechaEntrada));

        const days = Math.floor(duration.asDays());
        const hours = duration.hours();
        const minutes = duration.minutes();
        const seconds = duration.seconds();

        const timeParked = `${days}D ${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;

        temporizador.textContent = timeParked;
    }

    function inicializarTemporizadores(parqueos) {
        parqueos.forEach((parqueo, index) => {
            const fechaEntrada = moment(parqueo.fechaHoraEntrada);

            const esArrendamiento = parqueo.esArrendamiento;

            setInterval(() => {
                updateTimer(index, fechaEntrada);
                if (!esArrendamiento) {
                    actualizarTotal(index, parqueo.vehiculo.tarifa, fechaEntrada);
                }
            }, 1000);
        });
    }

    /**
     * Realiza una petición al servidor para buscar un vehículo por placa.
     */
    function buscarVehiculoPorPlaca() {
        $('#modulos').css('pointer-events', 'auto');
        $.LoadingOverlay('show');

        var placa = $('#placa').val().trim();

        if (!placa) {
            $.LoadingOverlay('hide');
            return;
        }

        $.ajax({
            url: `/vehiculo/buscar/${placa}`,
            type: 'GET',
            success: function (response) {
                $.LoadingOverlay('hide');

                if (response.status == 'success') {
                    Swal.fire({
                        title: "Mensaje",
                        text: `El vehículo con placa ${placa} ya se encuentra registrado`,
                        icon: "success"
                    });

                    localStorage.setItem('vehiculo', JSON.stringify(response.data));
                } else {
                    Swal.fire({
                        title: "Advertencia",
                        text: response.message,
                        icon: "warning"
                    });

                    localStorage.removeItem('vehiculo');
                }
            },
            error: function (error) {
                $.LoadingOverlay('hide');
                console.log(error);
            }
        });
    }

    function agregarVehiculoTabla(parqueo) {
        moment.locale('es');
        const fechaEntrada = moment(parqueo.fechaHoraEntrada);
        const tableBody = document.getElementById('parqueos-table');
        const index = tableBody.children.length;
        const esArrendamiento = parqueo.esArrendamiento;
        const celdaArrendamientoONormal = esArrendamiento ? 'Arrendamiento' : `${parqueo.tipoVehiculoAsignado.tarifa.nombre} ($${formatearDinero(parqueo.tipoVehiculoAsignado.tarifa.costo)})`;
        const celdaTotal = esArrendamiento ? '<td>Cobrado</td>' : `<td id="total-${index}">1.000</td>`;
        const row = `
            <tr>
                <td>${parqueo.placa}</td>
                <td>${parqueo.tipoVehiculo}</td>
                <td>${fechaEntrada.format('dddd DD MMMM, YYYY HH:mm:ss')}</td>
                <td>${parqueo.modulo}</td>
                <td class="timer" id="timer-${index}"></td>
                <td>${celdaArrendamientoONormal}</td>
                ${celdaTotal}
                <td>
                    <button class="btn btn-warning" id="btnRetirar-${index}">Retirar</button>
                    <button class="btn btn-primary" id="btnVerVehiculo-${index}"><i class="fas fa-car"></i></button>
                    <button class="btn btn-info" id="btnVerCliente-${index}"><i class="fas fa-user-alt"></i></button>
                </td>
            </tr>
        `;
        tableBody.insertAdjacentHTML('beforeend', row);

        $(`#btnRetirar-${index}`).click(retirarVehiculo);
        $(`#btnVerVehiculo-${index}`).click(verVehiculo);
        $(`#btnVerCliente-${index}`).click(verCliente);

        if (!esArrendamiento) {
            setInterval(() => {
                updateTimer(index, fechaEntrada);
                actualizarTotal(index, parqueo.tipoVehiculoAsignado.tarifa, fechaEntrada);
            }, 1000);
        }
    }

    /**
     * Actualiza el total de un parqueo.
     * 
     * @param {number} index Índice del parqueo en la tabla.
     * @param {Object} tarifa Tarifa del vehículo.
     */
    function actualizarTotal(index, tarifa, fechaEntrada) {
        const totalTd = document.getElementById(`total-${index}`);

        if (totalTd == null) {
            return;
        }

        const nombreTarifa = tarifa.nombre;
        const costoTarifa = tarifa.costo;

        const ahora = moment();
        const duracion = moment.duration(ahora.diff(fechaEntrada));
        let total = 0;

        const cantidadDigitos = tarifa.costo.toString().length - 1;

        if (nombreTarifa.includes('minuto')) {
            const minutosTranscurridos = duracion.asMinutes();
            total = minutosTranscurridos * costoTarifa;
        } else if (nombreTarifa.includes('hora')) {
            const horasTranscurridas = duracion.asHours();
            total = horasTranscurridas * costoTarifa;
        } else if (nombreTarifa.includes('día')) {
            const diasTranscurridos = duracion.asDays();
            total = diasTranscurridos * costoTarifa;
        }

        totalTd.textContent = `$${formatearDinero(total, cantidadDigitos)}`;
    }
</script>

{% endblock %}