{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<style>
    .btn span.glyphicon {
        opacity: 0;
    }

    .btn.active span.glyphicon {
        opacity: 1;
    }
</style>

<h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="card-body">
        <form id="frmUsuarioRegistrar" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdlUsuarioLabel">Registrar Usuario</h5>
                </div>
                <div class="modal-body">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.documento.label(class="form-label") }}
                        {{ form.documento(class="form-control", id="documento", value=current_user.documento,
                        readonly=True) }}
                    </div>
                    <div class="form-group">
                        {{ form.nombres.label(class="form-label") }}
                        {{ form.nombres(class="form-control", id="nombres", value=current_user.nombres) }}
                    </div>
                    <div class="form-group">
                        {{ form.apellidos.label(class="form-label") }}
                        {{ form.apellidos(class="form-control", id="apellidos", value=current_user.apellidos) }}
                    </div>
                    <div class="form-group">
                        {{ form.telefono.label(class="form-label") }}
                        {{ form.telefono(class="form-control", id="telefono", value=current_user.telefono) }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control", id="email", value=current_user.email, readonly=True) }}
                    </div>
                    <div class="form-group">
                        {{ form.rol.label(class="form-label") }}
                        {{ form.rol(class="form-control", id="rol", value=current_user.rol.nombre, readonly=True) }}
                    </div>
                    <div class="form-group">
                        ¿Es propietario?
                    </div>
                    <label class="btn btn-success active">
                        {{ form.es_propietario(value=current_user.es_propietario) }}
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                </div>
                <div class="modal-footer">
                    {{ form.submit(class="btn btn-warning") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}