{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<style>
    .btn span.glyphicon {
        opacity: 0;
    }

    .btn.active span.glyphicon {
        opacity: 1;
    }

    .custom-checkbox input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
</style>

<h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="card-body">
        <form id="frmPerfilUsuario" method="POST" action="">
            <div class="modal-content">
                <div class="modal-body">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.documento.label(class="form-label") }}
                        {{ form.documento(class="form-control", id="documento", value=current_user.documento,
                        readonly=True) }}
                    </div>
                    <div class="form-group">
                        {{ form.nombres.label(class="form-label") }}
                        {{ form.nombres(class="form-control", id="nombres", value=current_user.nombres) }}
                    </div>
                    <div class="form-group">
                        {{ form.apellidos.label(class="form-label") }}
                        {{ form.apellidos(class="form-control", id="apellidos", value=current_user.apellidos) }}
                    </div>
                    <div class="form-group">
                        {{ form.telefono.label(class="form-label") }}
                        {{ form.telefono(class="form-control", id="telefono", value=current_user.telefono) }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control", id="email", value=current_user.email, readonly=True) }}
                    </div>
                    <div class="form-group">
                        {{ form.rol.label(class="form-label") }}
                        {{ form.rol(class="form-control", id="rol", value=current_user.rol.nombre, readonly=True) }}
                    </div>
                    <div class="form-group">
                        ¿Es propietario?
                    </div>
                    <label class="btn btn-{{'success' if current_user.es_propietario else 'warning'}} active">
                        <span class="fas fa-{{'check' if current_user.es_propietario else 'ban'}}"></span>
                    </label>
                </div>
                <div class="modal-footer">
                    {{ form.submit(class="btn btn-warning") }}
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cambio contraseña</h6>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="card-body">
        <form id="frmCambioPassword" method="POST" action="{{ url_for('perfil') }}">
            <div class="modal-content">
                <div class="modal-body">
                    {{ cambiar_clave_form.hidden_tag() }}
                    <div class="form-group">
                        {{ cambiar_clave_form.clave_actual.label(class="form-label") }}
                        {{ cambiar_clave_form.clave_actual(class="form-control", id="clave_actual") }}
                    </div>
                    <div class="form-group">
                        {{ cambiar_clave_form.clave_nueva.label(class="form-label") }}
                        {{ cambiar_clave_form.clave_nueva(class="form-control", id="clave_nueva") }}
                    </div>
                    <div class="form-group">
                        {{ cambiar_clave_form.confirmar_clave.label(class="form-label") }}
                        {{ cambiar_clave_form.confirmar_clave(class="form-control", id="confirmar_clave") }}
                    </div>

                </div>
                <div class="modal-footer">
                    {{ cambiar_clave_form.submit(class="btn btn-warning", form="frmCambioPassword", id="submitCambioPassword") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}