<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gestor Parqueadero - {{ titulo }}</title>

    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/datatables205/datatables.min.css') }}" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <!-- <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script> -->
    <script src="{{ url_for('static', filename='vendor/datatables205/datatables.min.js') }}"></script>

    <link href="{{ url_for('static', filename='vendor/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='vendor/sweetalert2/sweetalert2.all.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendor/jquery-loading-overlay/loadingoverlay.min.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

    <style>
        .error {
            color: red;
            font-size: 18px;
            margin-top: 10px;
            width: 100%;
        }
    </style>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear cuenta</h1>
                            </div>
                            <form class="user" id="frmCrearUsuario">
                                <div class="form-group">
                                    <input type="documento" class="form-control form-control-user" id="documento"
                                        name="documento" placeholder="Digite su documento" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="nombres"
                                            name="nombres" placeholder="Digite su nombre(s)" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="apellidos"
                                            name="apellidos" placeholder="Digite su apellido(s)" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control form-control-user" id="telefono"
                                        name="telefono" placeholder="Teléfono" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email" name="email"
                                        placeholder="Dirección de correo electrónico" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" name="password"
                                            id="password" placeholder="Contraseña" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            name="repeatPassword" id="repeatPassword" placeholder="Repetir contraseña"
                                            required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Crear cuenta
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Recuperar contraseña</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Iniciar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlParqueadero" tabindex="-1" role="dialog" aria-labelledby="mdlParqueaderoLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <form id="frmParqueaderoCrear">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mdlParqueaderoLabel">Registrar Parqueadero</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="usuarioId" id="usuarioId">
                        <div class="form-group">
                            <label for="rutParqueadero">RUT</label>
                            <input type="text" class="form-control" id="rutParqueadero" name="rutParqueadero" required>
                        </div>
                        <div class="form-group">
                            <label for="nombreParqueadero">Nombre</label>
                            <input type="text" class="form-control" id="nombreParqueadero" required name="nombreParqueadero">
                        </div>
                        <div class="form-group">
                            <label for="direccionParqueadero">Dirección</label>
                            <input type="text" class="form-control" id="direccionParqueadero" required name="direccionParqueadero">
                        </div>
                        <div class="form-group">
                            <label for="telefonoParqueadero">Teléfono</label>
                            <input type="text" class="form-control" id="telefonoParqueadero" required name="telefonoParqueadero">
                        </div>
                        <div class="form-group">
                            <label for="emailParqueadero">Email</label>
                            <input type="email" class="form-control" id="emailParqueadero" required name="emailParqueadero">
                        </div>
                        <div class="form-group">
                            <label for="ciudadParqueadero">Ciudad</label>
                            <input type="text" class="form-control" id="ciudadParqueadero" required name="ciudadParqueadero">
                        </div>
                        <div class="form-group">
                            <label for="paisId">País</label>
                            <select name="paisId" id="paisId" class="form-control" required>
                                <option value="">Seleccione un país</option>
                                {% for pais in paises %}
                                    <option value="{{ pais.id }}">{{ pais.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="saveButton">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.validator.setDefaults({
                errorClass: 'text-danger',
                highlight: function (element) {
                    $(element).closest('.form-control-user').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-control-user').removeClass('is-invalid');
                }
            });

            $.extend($.validator.messages, {
                required: "Este campo es obligatorio.",
                email: "Por favor, escribe una dirección de correo válida.",
                number: "Por favor, escribe un número válido.",
                digits: "Por favor, escribe sólo dígitos.",
                equalTo: "Por favor, escribe el mismo valor de nuevo.",
                minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
                maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
            });

            $("#frmCrearUsuario").validate({
                rules: {
                    documento: {
                        required: true,
                        digits: true
                    },
                    nombres: {
                        required: true
                    },
                    apellidos: {
                        required: true
                    },
                    telefono: {
                        required: true,
                        digits: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 6
                    },
                    repeatPassword: {
                        required: true,
                        equalTo: "#password"
                    }
                },
                messages: {
                    documento: {
                        required: "Por favor, ingrese su documento.",
                        digits: "Por favor, ingrese sólo dígitos."
                    },
                    nombres: "Por favor, ingrese su nombre.",
                    apellidos: "Por favor, ingrese su apellido.",
                    telefono: {
                        required: "Por favor, ingrese su teléfono.",
                        digits: "Por favor, ingrese sólo dígitos."
                    },
                    email: {
                        required: "Por favor, ingrese su correo electrónico.",
                        email: "Por favor, ingrese un correo electrónico válido."
                    },
                    password: {
                        required: "Por favor, ingrese una contraseña.",
                        minlength: "La contraseña debe tener al menos 6 caracteres."
                    },
                    repeatPassword: {
                        required: "Por favor, repita su contraseña.",
                        equalTo: "Las contraseñas no coinciden."
                    }
                },
                submitHandler: function (form) {
                    $.LoadingOverlay("show");

                    const datos = $(form).serializeArray();
                    const usuario = {};

                    datos.forEach((item) => {
                        usuario[item.name] = item.value;
                    });

                    $.ajax({
                        url: "{{ url_for('registro') }}",
                        type: "POST",
                        data: JSON.stringify(usuario),
                        contentType: "application/json",
                        success: function (response) {
                            $.LoadingOverlay("hide");
                            Swal.fire({
                                title: '¡Registro exitoso!',
                                text: 'Usuario creado correctamente.',
                                icon: 'success',
                                confirmButtonText: 'Aceptar'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $('#usuarioId').val(response.data.id);
                                    
                                    $('#mdlParqueadero').modal('show');
                                }
                            });
                        },
                        error: function (error) {
                            $.LoadingOverlay("hide");
                            Swal.fire({
                                title: '¡Error!',
                                text: 'Ocurrió un error al crear el usuario.',
                                icon: 'error',
                                confirmButtonText: 'Aceptar'
                            });
                        }
                    });
                }
            });
        
            $("#frmParqueaderoCrear").validate({
                rules: {
                    rutParqueadero: {
                        required: true
                    },
                    nombreParqueadero: {
                        required: true
                    },
                    direccionParqueadero: {
                        required: true
                    },
                    telefonoParqueadero: {
                        required: true
                    },
                    emailParqueadero: {
                        required: true,
                        email: true
                    },
                    ciudadParqueadero: {
                        required: true
                    },
                    paisId: {
                        required: true
                    }
                },
                messages: {
                    rutParqueadero: {
                        required: "Por favor, ingrese el RUT."
                    },
                    nombreParqueadero: {
                        required: "Por favor, ingrese el nombre."
                    },
                    direccionParqueadero: {
                        required: "Por favor, ingrese la dirección."
                    },
                    telefonoParqueadero: {
                        required: "Por favor, ingrese el teléfono."
                    },
                    emailParqueadero: {
                        required: "Por favor, ingrese el correo electrónico.",
                        email: "Por favor, ingrese un correo electrónico válido."
                    },
                    ciudadParqueadero: {
                        required: "Por favor, ingrese la ciudad."
                    },
                    paisId: {
                        required: "Por favor, seleccione un país."
                    }
                },
                submitHandler: function (form) {
                    $.LoadingOverlay("show");

                    const datos = $(form).serializeArray();
                    const parqueadero = {};

                    datos.forEach((item) => {
                        const name = item.name.replace('Parqueadero', '');
                        parqueadero[name] = item.value;
                    });

                    $.ajax({
                        url: "{{ url_for('parqueadero.parqueadero') }}",
                        type: "POST",
                        data: JSON.stringify(parqueadero),
                        contentType: "application/json",
                        success: function (response) {
                            $.LoadingOverlay("hide");
                            Swal.fire({
                                title: '¡Registro exitoso!',
                                text: 'Parqueadero creado correctamente.',
                                icon: 'success',
                                confirmButtonText: 'Aceptar'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    
                                }
                            });
                        },
                        error: function (error) {
                            $.LoadingOverlay("hide");
                            Swal.fire({
                                title: '¡Error!',
                                text: 'Ocurrió un error al crear el parqueadero.',
                                icon: 'error',
                                confirmButtonText: 'Aceptar'
                            });
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>