<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gestor Parqueadero - Registro</title>

    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/datatables205/datatables.min.css') }}" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <!-- <script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script> -->
    <script src="{{ url_for('static', filename='vendor/datatables205/datatables.min.js') }}"></script>

    <link href="{{ url_for('static', filename='vendor/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='vendor/sweetalert2/sweetalert2.all.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendor/jquery-loading-overlay/loadingoverlay.min.js') }}"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

    <style>
        .error {
            color: red;
            font-size: 18px;
            margin-top: 10px;
            width: 100%;
        }
    </style>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear cuenta</h1>
                            </div>
                            <form class="user" id="frmCrearUsuario">
                                <div class="form-group">
                                    <input type="documento" class="form-control form-control-user" id="documento"
                                        placeholder="Digite su documento" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="nombres"
                                            placeholder="Digite su nombre(s)" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="apellidos"
                                            placeholder="Digite su apellido(s)" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control form-control-user" id="telefono"
                                        placeholder="Teléfono"  required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email"
                                        placeholder="Dirección de correo electrónico" required>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="password" placeholder="Contraseña" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="repeatPassword" placeholder="Repetir contraseña" required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Crear cuenta
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Recuperar contraseña</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Iniciar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $.extend($.validator.messages, { required: "Este campo es obligatorio."});
            $('#frmCrearUsuario').validate({
                rules: {
                    documento: {
                        required: true
                    },
                    nombres: {
                        required: true
                    },
                    exampleLastName: {
                        required: true
                    },
                    telefono: {
                        required: true
                    },
                    email: {
                        required: true
                    },
                    password: {
                        required: true
                    },
                    repeatPassword: {
                        required: true,
                        equalTo: "#password"
                    }
                },
                messages: {
                    telefono: {
                        required: "Por favor, digite su teléfono."
                    },
                    email: {
                        required: "Por favor, digite su correo electrónico.",
                        email: true
                    },
                    password: {
                        required: "Por favor, digite su contraseña."
                    },
                    repeatPassword: {
                        required: "Por favor, repita su contraseña.",
                        equalTo: "Las contraseñas no coinciden."
                    }
                }
            });
            
            $('#frmCrearUsuario').submit(function (e) {
                e.preventDefault();
                var documento = $('#documento').val();
                var nombres = $('#nombres').val();
                var apellidos = $('#apellidos').val();
                var telefono = $('#telefono').val();
                var email = $('#email').val();
                var password = $('#password').val();
                var repeatPassword = $('#repeatPassword').val();

                $.LoadingOverlay("show");
                $.ajax({
                    url: 'http://localhost:5000/usuario',
                    type: 'POST',
                    data: {
                        documento: documento,
                        nombres: nombres,
                        apellidos: apellidos,
                        telefono: telefono,
                        email: email,
                        password: password
                    },
                    success: function (response) {
                        $.LoadingOverlay("hide");
                        Swal.fire({
                            icon: 'success',
                            title: 'Usuario creado',
                            text: 'El usuario ha sido creado exitosamente'
                        });
                    },
                    error: function (error) {
                        $.LoadingOverlay("hide");
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Ha ocurrido un error al crear el usuario.'
                        });
                    }
                });
            });
        });
    </script>
</body>

</html>