{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="card-body">
        <button class="btn btn-primary" data-toggle="modal" data-target="#mdlCrearEditar"
            style="margin-bottom: 7px;">Crear</button>
        <div class="table-responsive">
            <table id="tblDatos" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in entidades %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.nombre }}</td>
                        <td>{{ e.direccion }}</td>
                        <td>{{ e.telefono }}</td>
                        <td>{{ e.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlCrearEditar" tabindex="-1" aria-labelledby="mdlCrearEditarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlCrearEditarLabel">{{ titulo }} - Crear</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frmCrearEditar">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                            placeholder="Ingresa el nombre">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion"
                            placeholder="Ingresa la dirección">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono"
                            placeholder="Ingresa el teléfono">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa el email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlModulos" tabindex="-1" aria-labelledby="mdlModulosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdlModulosLabel">Módulos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class="btn btn-primary" id="btnModuloCrear" data-toggle="modal"
                    data-target="#mdlModuloCrearEditar" style="margin-bottom: 7px;">Crear</button>
                <table id="tblDatosModulos" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>¿Habilitado?</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se llenarán los datos dinámicamente -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlModuloCrearEditar" tabindex="-1" role="dialog" aria-labelledby="mdlModuloCrearEditarLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="frmModuloCrearEditar">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdlModuloCrearEditarLabel">Crear nuevo módulo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="moduloId" name="moduloId">
                    <div class="form-group">
                        <label for="moduloNombre">Nombre</label>
                        <input type="text" class="form-control" id="moduloNombre" name="moduloNombre" required>
                    </div>
                    <div class="form-group">
                        <label for="moduloHabilitado">Habilitado</label>
                        <select class="form-control" id="moduloHabilitado" name="moduloHabilitado" required>
                            <option value="Sí">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="moduloDescripcion">Descripción</label>
                        <textarea class="form-control" id="moduloDescripcion" rows="3" name="moduloDescripcion" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        const dataTable = $('#tblDatos').DataTable({
            "paging": true,
            "searching": true,
            "columnDefs": [
                {
                    "targets": 5,
                    "data": null,
                    "defaultContent": "<button class='btn btn-warning edit' title='Editar'><i class='fas fa-edit'></i></button> <button class='btn btn-danger delete' title='Eliminar'><i class='fas fa-trash'></i></button> <button class='btn btn-primary modulo' title='Módulos'><i class='fas fa-warehouse'></i></button>"
                }
            ],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
            }
        });

        $('[id^="dt-length-"]').addClass('custom-select custom-select-sm form-control form-control-sm');

        $('#tblDatos tbody').on('click', 'button.edit', function () {
            var data = $('#tblDatos').DataTable().row($(this).parents('tr')).data();

            $('#mdlCrearEditarLabel').text('Sede - Editar');
            $('#id').val(data[0]);
            $('#nombre').val(data[1]);
            $('#direccion').val(data[2]);
            $('#telefono').val(data[3]);
            $('#email').val(data[4]);

            $('#mdlCrearEditar button[type="submit"]').text('Editar');
            $('#mdlCrearEditar button[type="submit"]').removeClass('btn-success').addClass('btn-warning');

            $('#mdlCrearEditar').modal('show');
        });

        $('#tblDatos tbody').on('click', 'button.delete', function () {
            Swal.fire({
                title: "¿Está seguro de querer eliminar este registro?",
                text: "Esta operación una vez confirmada es irreversible.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí",
                cancelButtonText: "No"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.LoadingOverlay('show');

                    var data = $('#tblDatos').DataTable().row($(this).parents('tr')).data();

                    $.ajax({
                        url: '/sede/' + data[0],
                        type: 'DELETE',
                        dataType: 'json',
                        success: (response) => {
                            $.LoadingOverlay('hide');

                            if (response.status == 'success') {
                                Swal.fire({
                                    title: "Registro eliminado",
                                    text: "El registro fue eliminado de forma satisfactoria",
                                    icon: "success"
                                }).then((result) => {
                                    var row = $(this).closest('tr');
                                    dataTable.row(row).remove().draw();
                                });
                            } else {
                                Swal.fire({
                                    title: "Error",
                                    text: "Ocurrió un error al intentar eliminar el registro",
                                    icon: "error"
                                });
                            }
                        },
                        error: (error) => {
                            $.LoadingOverlay('hide');

                            Swal.fire({
                                title: "Error",
                                text: "Ocurrió un error al intentar eliminar el registro",
                                icon: "error"
                            });
                        }
                    });
                }
            });
        });

        $('#frmCrearEditar').submit(function (e) {
            e.preventDefault();

            $.LoadingOverlay('show');

            const formData = new FormData(this);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            let url = '/sede';
            let method = 'POST';
            if ($('#mdlCrearEditarLabel').text().includes('Editar')) {
                url += '/' + $('#id').val();
                method = 'PUT';
            }

            $.ajax({
                url: url,
                type: method,
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: (response) => {
                    $.LoadingOverlay('hide');

                    if (response.status == 'success') {
                        const operacion = method == 'POST' ? 'guardado' : 'editado';

                        Swal.fire({
                            title: `Registro ${operacion}`,
                            text: `El registro fue ${operacion} de forma satisfactoria.`,
                            icon: "success"
                        }).then((result) => {
                            $('#mdlCrearEditar').modal('hide');
                            $('#nombre').val('');
                            if (method == 'PUT') {
                                dataTable.row($('#tblDatos tbody tr').find('td').filter(function () {
                                    return $(this).text() == $('#id').val();
                                }).closest('tr')).remove().draw();
                            }

                            dataTable.row.add([response.data.id, response.data.nombre, response.data.direccion, response.data.telefono, response.data.email]).draw();
                        });
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar guardar el registro.",
                            icon: "error"
                        });
                    }
                },
                error: (error) => {
                    $.LoadingOverlay('hide');

                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error en el servidor. Intente nuevamente.",
                        icon: "error"
                    });
                }
            });
        });

        $('#mdlCrearEditar').on('hidden.bs.modal', function () {
            $(this).find('form')[0].reset();

            $('#mdlCrearEditarLabel').text('Medio de Pago - Crear');
            $('#mdlCrearEditar button[type="submit"]').text('Crear');
            $('#mdlCrearEditar button[type="submit"]').removeClass('btn-warning').addClass('btn-success');
        });

        let modulos;

        $('#tblDatos tbody').on('click', 'button.modulo', function () {
            const data = $('#tblDatos').DataTable().row($(this).parents('tr')).data();
            const sedeId = data[0];

            $.ajax({
                url: `/sede/${sedeId}/modulos`,
                type: 'GET',
                dataType: 'json',
                success: (response) => {
                    if (response.status == 'success') {
                        if ($.fn.dataTable.isDataTable('#tblDatosModulos')) {
                            $('#tblDatosModulos').DataTable().clear().destroy();
                        }

                        modulos = $('#tblDatosModulos').DataTable({
                            data: response['data'],
                            columns: [
                                { data: 'id' },
                                { data: 'nombre' },
                                {
                                    data: 'habilitado',
                                    render: function (data, type, row) {
                                        if (type === 'display') {
                                            return data ? '<i class="fa fa-check-circle" style="color: green;"></i>' : '<i class="fa fa-times-circle"></i>';
                                        }
                                        return data;
                                    }
                                },
                                { data: 'descripcion' },
                                {
                                    data: null,
                                    defaultContent: "<button class='btn btn-warning edit' title='Editar'><i class='fas fa-edit'></i></button> <button class='btn btn-danger delete' title='Eliminar'><i class='fas fa-trash'></i></button>"
                                }
                            ],
                            language: {
                                "decimal": "",
                                "emptyTable": "No hay información",
                                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                "infoPostFix": "",
                                "thousands": ",",
                                "lengthMenu": "Mostrar _MENU_ Entradas",
                                "loadingRecords": "Cargando...",
                                "processing": "Procesando...",
                                "search": "Buscar:",
                                "zeroRecords": "Sin resultados encontrados",
                            }
                        });

                        $('[id^="dt-length-"]').addClass('custom-select custom-select-sm form-control form-control-sm');
                        $('')

                        $('#btnModuloCrear').attr('data-sede-id', sedeId);

                        $('#mdlModulos').modal('show');
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar obtener los módulos de la sede.",
                            icon: "error"
                        });
                    }
                },
                error: (error) => {
                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error al intentar obtener los módulos de la sede.",
                        icon: "error"
                    });
                }
            });
        });

        $('#frmModuloCrearEditar').submit(function (e) {
            e.preventDefault();

            $.LoadingOverlay('show');

            const formData = new FormData(this);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });

            data['moduloHabilitado'] = data['moduloHabilitado'] == 'Sí' ? true : false;

            const sedeId = $('#btnModuloCrear').attr('data-sede-id');

            let url = `/sede/${sedeId}/modulo`;
            let method = 'POST';
            if ($('#mdlModuloCrearEditarLabel').text().includes('Módulo - Editar')) {
                url += '/' + $('#moduloId').val();
                method = 'PUT';
            }

            $.ajax({
                url: url,
                type: method,
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: (response) => {
                    $.LoadingOverlay('hide');

                    const text = method == 'POST' ? 'creado' : 'editado';

                    if (response.status == 'success') {
                        Swal.fire({
                            title: `Módulo ${text}`,
                            text: `El módulo fue ${text} de forma satisfactoria.`,
                            icon: "success"
                        }).then((result) => {
                            $('#mdlModuloCrearEditar').modal('hide');
                            $('#nombreModulo').val('');
                            $('#habilitadoModulo').val('Sí');
                            $('#descripcionModulo').val('');                            

                            modulos.row.add({
                                id: response.data.id,
                                nombre: response.data.nombre,
                                habilitado: response.data.habilitado,
                                descripcion: response.data.descripcion
                            }).draw();

                            $('#frmModuloCrearEditar').trigger('reset');
                        });
                    } else {
                        Swal.fire({
                            title: "Error",
                            text: "Ocurrió un error al intentar guardar el módulo.",
                            icon: "error"
                        });
                    }
                },
                error: (error) => {
                    $.LoadingOverlay('hide');

                    Swal.fire({
                        title: "Error",
                        text: "Ocurrió un error en el servidor. Intente nuevamente.",
                        icon: "error"
                    });
                }
            });
        });
        
        $('#tblDatosModulos tbody').on('click', 'button.edit', function () {
            var data = $('#tblDatosModulos').DataTable().row($(this).parents('tr')).data();

            $('#mdlModuloCrearEditarLabel').text('Módulo - Editar');
            $('#moduloId').val(data.id);
            $('#moduloNombre').val(data.nombre);
            $('#moduloHabilitado').val(data.habilitado ? 'Sí' : 'No');
            $('#moduloDescripcion').val(data.descripcion);

            $('#mdlModuloCrearEditar button[type="submit"]').text('Editar');
            $('#mdlModuloCrearEditar button[type="submit"]').removeClass('btn-primary').addClass('btn-warning');

            $('#mdlModuloCrearEditar').modal('show');
        });
    });
</script>

{% endblock %}