<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" 
   href="{% if operario_permission.can() %}{{ url_for('parqueos') }}{% else %}#unauthorized{% endif %}">
    <img src="{{ url_for('static', filename='images/logo-generico.png') }}" alt="Logo" style="width: 50px; height: 50px;">
</a>


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('dashboard')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    {% if propietario_admin_permission.can() %}
    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Datos</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {% if admin_permission.can() or propietario_admin_permission.can() %}
                    <h6 class="collapse-header">Vehículos:</h6>
                    <a class="collapse-item" href="{{ url_for('vehiculo_tipo') }}">Tipos de vehículo</a>
                    <a class="collapse-item" href="{{ url_for('tarifa_tipo') }}">Tipos de tarifa</a>
                    <a class="collapse-item" href="{{ url_for('medio_pago') }}">Medios de pago</a>
                {% endif %}
                {% if propietario_admin_permission.can() %}
                    <h6 class="collapse-header">Clientes:</h6>
                    <a class="collapse-item" href="{{ url_for('cliente') }}">Clientes</a>
                {% endif %}
                {% if propietario_admin_permission.can() %}
                <h6 class="collapse-header">Administración:</h6>
                <a class="collapse-item" href="{{ url_for('rol') }}">Roles</a>
                <a class="collapse-item" href="{{ url_for('usuario') }}">Usuarios</a>
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Parqueadero</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Sedes &amp; Módulos</h6>
                <a class="collapse-item" href="{{ url_for('sedes') }}">Sedes</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    {% endif %}


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>