{% extends 'base.html' %}

{% block title %}Tipo de Vehículo{% endblock %}

{% block content %}

<h1 class="h3 mb-2 text-gray-800">Tipos de Vehículo</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tblDatos" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipo in tipos_vehiculo %}
                        <tr>
                            <td>{{ tipo.id }}</td>
                            <td>{{ tipo.nombre }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            $('#tblDatos').DataTable({
                "paging": true,
                "searching": true,
                "columnDefs": [
                    {
                        "targets": 2,
                        "data": null,
                        "defaultContent": "<button class='btn btn-warning edit'>Editar</button> <button class='btn btn-danger delete'>Eliminar</button>"
                    }
                ],
            });

            $('#dt-length-0').addClass('custom-select custom-select-sm form-control form-control-sm');

            $('#tblDatos tbody').on('click', 'button.edit', function () {
                var data = $('#tblDatos').DataTable().row($(this).parents('tr')).data();
                alert('Editar ID: ' + data[0]);
            });

            $('#tblDatos tbody').on('click', 'button.delete', function () {
                var data = $('#tblDatos').DataTable().row($(this).parents('tr')).data();
                
                $.ajax({
                    url: '/vehiculo-tipo/' + data[0],
                    type: 'DELETE',
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == 'success') {
                            alert('Registro eliminado correctamente');
                            location.reload();
                        } else {
                            alert('Error al eliminar el registro');
                        }
                    }
                });
            });
        });

    </script>
    {% endblock %}